/* HEADER */
.nav-bar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(26, 41, 58, 0.2);
}

.nav-bar img {
  width: 90px;
  height: 90px;
}

.buttons {
  padding: 10px 20px;
  margin-right: 6px;
  background-color: transparent;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
}

.buttons:hover {
  border-color: red;
}

.nav-icons-container {
  display: flex;
  gap: 1rem;
  color: #222;
}

.nav-icon {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 0 3rem 0.4rem;
  }
  .nav-icons-container {
    /* display: none; */
    gap: 0.3rem;
  }

  .nav-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nav-bar img {
    width: 70px;
    height: 70px;
  }

  .buttons {
    padding: 10px;
    margin-top: 0.4rem;
  }

  .products-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .nav-bar {
    padding: 0.5rem;
  }
}
